/* Write your CSS code here */
.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
}
